@media (max-width: 1200px){
    .signup form {
        margin-right: 100px;
    }

    #chk:checked~.signup form {
        margin-right: 1px;
        width: 350px;
        transition: 0.5s ease-in-out;
    }

    #chk:checked~.signup label {
        font-size: 25px;
    }
} 

@media (max-width: 1160px){
    #div1{
        grid-template-columns: repeat(2,1fr);
    } 
}

@media (max-width: 800px) {
    #div1{
        grid-template-columns: 1fr;
    } 

}

@media (max-width:500px){

    #buscador{
        width: 100px;
    }

}

@media (max-width:360px){

    #buscador{
        width: 50px;
    }
    .img{
        width: 260px;
        
    }

}

@media (max-width: 1050px){
    .imp input{
        width: 500px;
    }

    .login label {
        margin-right: 10px;
    }
}

@media (max-width: 975px) {
    #chk:checked~.signup label {
        margin: 80px;
        font-size: 20px;
    }    
}
/* inverter menu */

@media (max-width: 930px){
    .login{
        width: 100%;
        height: 80vh;
        top: 5%;
        align-items: start;
        justify-content: center;
        transform: translateX(0%);
        transform: translateY(80%);
        transition: 0.5s ease-in-out;
    }

    .login label{
        margin-top: 15px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
    }

    .signup{
        justify-content: center;
        align-items: start;
        height: 100vh;
        transition: 0.5s ease-in-out;
    }

    .signup form {
        margin: 0;
    }
    
    .signup input {
        margin: 40px auto;
    }

    #chk:checked~ .login {
        transform: translateX(0%);
        height: 80vh;
        top: 23%;
        transition: 0.5s ease-in-out;
    }

    #chk:checked~.signup {
        align-items: flex-start;
        transition: 0.5s ease-in-out;
    }
    
    #chk:checked~ .signup label{
        margin-top: 25px;
        height: 30px;
        padding: 10px 10px;
        font-size: 25px;
        align-items: center;
        transition: 0.5s ease-in-out;
        
    }
}

@media (max-width: 710px){
    .quem-hist-txt p{
        width: 500px;
        font-size: 25px;
        line-height: 30px;
    }
}

@media (max-width: 510px){
    #buscador{
        width:150px;
    }
    .quem-hist-txt p{
        width: 300px;
        font-size: 20px;
        line-height: 25px;
    }
    .quem-hist-img img{
        width: 400px;
    }

}

@media (max-width: 430px){
    /*.frente {
        width: 100%;
        min-height: 100vh;
    }*/

    .login {
        width: 100%;
    }

    .signup {
        width: 100%;
        min-height: 100vh;
    }

    .imp input{
        width: 300px;
        transition: 0.5s ease-in-out;
    }

    #buscador{
        width: 70px;
    }
    .quem-hist-img img {
        width: 300px;
    }
    .foo-img img{
        width: 200px;
    }
}

@media (max-width: 350px){
    #cad {
        width: 100%;
        min-height: 100vh;
    }

    .login {
        width: 100%;
    }

    .signup {
        width: 100%;
        height: 100vh;
    }
    
    .imp input{
        width: 200px;
        transition: 0.5s ease-in-out;
    }

    #chk:checked~.signup label {
        font-size: 20px;
        width: 150px;
        transition: 0.5s ease-in-out;
    }    
}

@media (max-width: 950px){
    #tec{
        display: grid;
        grid-template-columns: auto auto;
    }
    .destaques{
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 500px){
    #tec{
        display: grid;
        grid-template-columns: auto;
    }
    .destaques{
        min-width: 100%;
    }

}
@media (max-width: 400px){
    .destaques{
        min-width: 100%;
    }

}

@media (max-width: 600px){
    #sergio{
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px){
     #divBusca{
        width: 150px;
     }
}

@media (max-width: 450px){
    #divBusca{
       width: 125px;
    }
}


@media (max-width: 380px){
    #divBusca{
       width: 120px;
    }
}

@media (max-width: 380px){
    .imgt{
       width: 100px;
       height: 100px;
    }
}


@media (max-width: 800px){
    .locais{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       margin: 10px;
    }
    .dropdown:hover {
        height: 530px;
    }
}
@media (max-width: 415px){
    .locais{
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .dropdown:hover {
        height: 700px;
    }
}

@media (max-width: 470px){
    .first{
       display: grid;
       grid-template-columns: 1fr 1fr;
    }

}