:root{
    --cor-pricipal:#fff159;
    --cor-ofertas: #3682fd;
    --cor-valor:#2ca469;
    --cor-valor-parc:#4d868a;
    --cor-textos:#383838;
    --cor-hover: #ffa500;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}


.first {
    background-color: var(--cor-pricipal);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first a{
    margin-right: 15px;
    color: var(--cor-textos);
    font-family: 'Roboto', sans-serif;
}

.first img {
    width: 100px;
}

#divBusca{
    background-color:#ffffff;
    border:solid 1px;
    border-radius:10px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

.dropdown {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--cor-pricipal);
    transition: height 0.5s;
}

.dropdown p{
    color: var(--cor-textos);
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}
.dropdown-child {
    background-color: var(--cor-pricipal);
    min-width: 200px;
}
/* ----------------------------------------------------------- */

.locais {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 0;
}

.loc{
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: -0.2s;
}

.dropdown:hover {
    height: 200px;
}

.dropdown:hover .loc{
   opacity: 1;
   transition-delay: 0.3s;
}

html {
    scroll-behavior: smooth;
}

.first a:hover {
    cursor: pointer;
    padding: 7px;
    background-color: var(--cor-hover);
    border: 1px;
    border-radius: 15px;
}

@keyframes descer {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

