:root{
    --cor-pricipal:#fff159;
    --cor-ofertas: #3682fd;
    --cor-valor:#2ca469;
    --cor-valor-parc:#4d868a;
    --cor-textos:#383838;
    --cor-hover: #ffa500;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}


.first {
    background-color: var(--cor-pricipal);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first a{
    margin-right: 15px;
    color: var(--cor-textos);
    font-family: 'Roboto', sans-serif;
}

.first img {
    width: 100px;
}

#divBusca{
    background-color:#ffffff;
    border:solid 1px;
    border-radius:10px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }


.mainmenubtn {
    background-color: var(--cor-pricipal);
    color: var(--cor-textos);
    border: none;
    cursor: pointer;
    padding:20px;
    width: 100%;
}
.mainmenubtn:hover {
    background-color: var(--cor-hover);
    }
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: var(--cor-pricipal);
    min-width: 200px;
}
.dropdown-child a {
    color: var(--cor-textos);
    padding: 20px;
    text-decoration: none;
    display: block;
}
/* ----------------------------------------------------------- */
.dropdown:hover .dropdown-child {
    display: block;
}

html {
    scroll-behavior: smooth;
}

.first a:hover {
    cursor: pointer;
    padding: 7px;
    background-color: var(--cor-hover);
    border: 1px;
    border-radius: 15px;
}

